<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/style.css">
<script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <title>P-semiBgroup</title>
</head>
  <body>
    <h2 class="hello">Hello!</h2>
    <p>Push the Button!</p>
    <p>Do you use the GPS?</p>
    <p>Identify your location from the IP address without the GPS.</p>
    <img src="/static/images/iss_satelite.jpg" width="100%">
    <button onclick="location.href='./home/'">START</button>
  </body>
</html>